<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | %UNITY_WEB_NAME%</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        background-color: #333;
      }
      canvas {
        width: 100%; height: 100%; position: absolute;
      }
      div#loadingBox {
        width: 100%; height: 20px; position: absolute;
        top: 50%; margin-top: -10px; text-align: center;
      }
      div#bgBar {
        display: none; position: absolute;
        width: 200px; margin-left: -100px;
        left: 50%;
        height: 2px;
        background-color: #FFF;
        border-radius: 2px;
      }
      div#progressBar {
        display: none;
        left: 50%;
        position: absolute;
        margin-left: -100px;
        width: 0px;
        height: 2px;
        background-color: #990000;
        border-radius: 2px;
      }
      p#loadingInfo {
        color: #FFF;
        letter-spacing: 1px;
        position: absolute;
        width: 100%;
        font-family: "Monaco", sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-size: 8px;
        margin-top: 10px;
      }
      div#spinner {
        position: absolute;
        height: 2px;
        left: 50%;
        margin-left: -100px;
        width: 200px;
        position: relative;
        overflow: hidden;
        background-color: #FFF;
      }
      div#spinner:before{
        display: block;
        position: absolute;
        content: "";
        left: -200px;
        width: 200px;
        height: 4px;
        background-color: #990000;
        animation: loading 2s linear infinite;
      }
      @keyframes loading {
        from {left: -50%; width: 30%;}
        50% {width: 30%;}
        70% {width: 70%;}
        80% { left: 50%;}
        95% {left: 120%;}
        to {left: 100%;}
      }
    </style>

    <script type='text/javascript' >
"use strict"

var progressTextDom = null
var downloadingText = "DOWNLOADING {{1}}"
var initializingText = "INITIALIZING"

function UnityProgress(gameInstance, progress, t) {

  if(progressTextDom == null)
  {
    progressTextDom = document.getElementById("loadingInfo")
  }

  // if (!gameInstance.Module)
  //   return;

  // if (!gameInstance.logo) {
  //   gameInstance.logo = document.createElement("div");
  //   gameInstance.logo.className = "logo " + gameInstance.Module.splashScreenStyle;
  //   gameInstance.container.appendChild(gameInstance.logo);
  // }

  // if (!gameInstance.progress) {    
  //   gameInstance.progress = document.createElement("div");
  //   gameInstance.progress.className = "progress " + gameInstance.Module.splashScreenStyle;
  //   gameInstance.progress.empty = document.createElement("div");
  //   gameInstance.progress.empty.className = "empty";
  //   gameInstance.progress.appendChild(gameInstance.progress.empty);
  //   gameInstance.progress.full = document.createElement("div");
  //   gameInstance.progress.full.className = "full";
  //   gameInstance.progress.appendChild(gameInstance.progress.full);
  //   gameInstance.container.appendChild(gameInstance.progress);
  // }

  // gameInstance.progress.full.style.width = (100 * progress) + "%";
  // gameInstance.progress.empty.style.width = (100 * (1 - progress)) + "%";

  progressTextDom.innerHTML = downloadingText.replace("{{1}}",(100 * progress).toFixed(2) + "%")

  if (progress == 1)
  {
    //gameInstance.logo.style.display = gameInstance.progress.style.display = "none";
    
    SwitchProgressIndicatorToInitializing()
  }
}

function SwitchProgressIndicatorToInitializing()
{
  progressTextDom.innerHTML = initializingText
}

function HideProgressIndicator()
{
  document.getElementById("loadingBox").style.display = "none"
}    
    </script>
    <script src='https://cdn1.kongregate.com/javascripts/kongregate_api.js'>
    </script>

    <script src="%UNITY_WEBGL_LOADER_URL%"></script>
    <script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "%UNITY_WEBGL_BUILD_URL%", {onProgress: UnityProgress});
    </script>
  </head>
  <body>
    <div id="gameContainer" style="width: %UNITY_WIDTH%px; height: %UNITY_HEIGHT%px">
    </div>
    <div id="loadingBox">
      <div id="spinner"></div>
      <div id="bgBar"></div>
      <div id="progressBar"></div>
      <p id="loadingInfo">Loading...</p>
    </div>
   
  </body>
</html>